<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PT Self Asmnt</display-name>
  <welcome-file-list>
    <welcome-file>otp.do</welcome-file>
    
  </welcome-file-list>
  
  <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
    <servlet-class>
        	com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping> 
    <servlet-name>jersey-serlvet</servlet-name>
    <url-pattern>/cdma/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/jsp/errorpages/errorPage500.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/jsp/errorpages/errorPage503.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/jsp/errorpages/exceptiondisp.jsp</location>
  </error-page>
  
  <!--    for Scheduler to update certificate status-->
<!--   <listener>
 <listener-class>com.mars.cdma.gov.scheduler.DailyJobSchedulerCertificateStatus</listener-class>
 </listener> -->
    
</web-app>